= form_for @active_card do |f|
  - if @active_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@active_card.errors.count, "error")} prohibited this active_card from being saved:"
      %ul
        - @active_card.errors.full_messages.each do |message|
          %li= message

  .form
    .mb-3
      = f.label :question, class: 'form-label'
      = f.text_area :question, class: 'form-control', rows: 5

    .mb-3
      = f.label :answer, class: 'form-label'
      = f.text_area :answer, class: 'form-control', rows: 5

    .mb-3
      = f.label :explanation, class: 'form-label'
      = f.text_area :explanation, class: 'form-control'

    .mt-3
      = f.submit 'Save', class: 'btn btn-primary'

      = link_to 'Back', active_cards_path, class: 'ms-3'
