%p#notice= notice
.mt-5
  %b Question:
  = markdown(@active_card.question)
.mt-5
  %b Answer:
  = markdown(@active_card.answer)
.mt-5
  %b Explanation:
  = markdown(@active_card.explanation)
%p
  %b Level:
  = @active_card.level
%p
  %b Last recal:
  = @active_card.last_recal

= link_to 'Edit', edit_active_card_path(@active_card)
\|
= link_to 'Back', active_cards_path
